*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    color: white ;
    
}
body{
    background-color:rgb(1, 20, 36);
    min-height:fit-content;
}
.header{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: row;
    position:fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0.062);
}
.head h3{
    display: inline;
}
.head{
    margin-top: 15px;
}
.links{
    text-decoration: none;
    padding: 10px;
    
}
.links:hover{
    background-color:rgba(46, 48, 48, 0.614);
    border-radius: 15px
}
.test-btn{
    float:right;
    margin-right: 200px;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight:bolder;
}
.btn{
    padding: 7px 10px;
    font-size: medium;
    font-weight: 700;
    background-color: rgb(255, 255, 255);
    color: blue;
    border-radius: 10px;
}
.h2{
    margin: 5vh 5vw 2vh 5vw;
}
.main{
    /* height: 100vh; */
    min-height: min-content;
    width: 85vw;
    margin: 40px auto;
    /* min-height: fit-content; */
    background-color: black;
    overflow: hidden;
    scrollbar-width:50px;
}
.visible{
    min-height: fit-content;
}
.headline,.topic {
    display: flex;
    /* position: static; */
    flex-direction: row;
    justify-content: space-between;
    margin: 0vh 5vw 2vh 5vw;
}
.headline{
    padding-top: 10vh;

}

#text1{
    font-size: xxx-large;
}
#text2{
    font-size: x-large;
}
#text3,#text4{
    font-size: xx-large;
}
.content, .video{
    font-size: large;
    margin: auto 50px;
}
.invisible{
    display: none;
}
#readmore , #readless{
    color: rgb(85, 85, 181);
    background-color: transparent;
    box-shadow: none;
    border: none;
    font-size: larger;
    cursor: pointer;
}
#readless{
    display: none;
}
.main::-webkit-scrollbar{
    display: none;
}

.quiz h1{
    padding:2vh 8vw;
}
 .quiz h2, .ans{
    padding:2vh 11vw;
}
.ans{
    display: block;
    padding-left: 14vw ;
}
#submit{
    float: right;
    position: relative;
    right: 5vw;
    margin: 20px;
    
}
.quiz{
    margin-top:15vh ;
    display: none;
}
.qiz{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:30px 80px 0 0 ;
}
.btn:hover,.test-btn:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(1, 20, 36);
    border: white 1px solid;
}
@media only screen and (max-width:1350px  ){
    .topic{
        flex-direction: column-reverse;
        
    }
    .content{
        margin: 2px;
    }
    .vid{
        padding: auto;
        width: auto;
        height: auto;
    }
    .video{
        margin: auto;
    }
}
@media only screen and (max-width:650px  ){
    h1, #text1{
        font-size: 28px;
    }
    h2,#text2{
        font-size: 20px;
    }
    .header{
        flex-direction: column;
        position:static;
        background-color: rgb(1, 20, 36);
    }
    .btn{
        float: right;
    }
}
#result{
    display:none;
    height: 90px;
    font-size: x-large;
    text-align: center;
    padding-top: 40px ;
}